.historia {
  height: 100vh;
}

.container-p {
  display: flex;
  justify-content: center;
  animation-name: historia;
  animation-duration: 2s;
}

@keyframes historia {
  from {
    width: 0vw;
    
  }
  to {
     width: 100vw;
     
    }
}

.container-p p{
  width: 350px;
  text-align: justify;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}