

.container {
  display: flex;
  justify-content: center;
  
}

.titulos-container {
  list-style: none;
  background-color: black;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  
}

.titulos-container li {
  margin: 5px;
  background-color: rgb(48, 45, 45);
  border-radius: 10px;
  padding: 5px;
}

.titulos-container li::before {
  content: url(./trofeu.png) !important;
  
}